@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("./fotos/ilustracao.svg");
  background-size: cover;
  background-repeat: no-repeat;   
}

header{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
}

nav{
    width: 40%;
    text-align: end;
}
nav>a{
    color: #B6B6B6;
    margin-left: 5%;
    text-decoration: none;
    border-bottom: 3px solid white;
}
nav>a:hover{
    font-weight: bold;
    color: #43B5F4;
    border-bottom: 3px solid;
}
.apag-atual{
    font-weight: bold;
    color: #43B5F4;
    border-bottom: 3px solid;
}
section{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#bloco-texto-incio{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bloco-texto-incio>h1{
    width: 600px;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
#bloco-texto-incio>p{
    font-style: normal;
    width: 500px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 17px;
    color: #FFFFFF;
}
#bloco-texto-incio>a{
    width: 189px;
    height: 43px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #43B5F4;
    font-weight: bold;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #00A4FF;
    border-radius: 5px
}
#bloco-texto-incio>a:hover{
    font-weight: bold;
    border-radius: 5px;
    color: #27749e;
}

#bloco-ilustracao-inicio>img{
    width: 450px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
    color: grey;
}
@media only screen and (max-width: 1603px){
        body{
            background-color: #FFFFFF;
        }

        #bloco-texto-incio>h1{
            width: 400px;
            font-family: 'Roboto';
            font-style: normal;
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }
       
       
}

@media only screen and (max-width: 1068px){
    body{
        background: #00A4FF;
    }
    #bloco-ilustracao-inicio>img{
        width: 370px;

    }
    nav{
        width: 90%;
        text-align: end;
    }
    nav>a{
        color: #e4e4e4;
        margin-left: 5%;
        text-decoration: none;
        border-bottom: 3px solid transparent;
    }

    .apag-atual{
        font-weight: bold;
        color: #ffffff;
        border-bottom: 3px solid;
    }
   
    
   
}

@media only screen and (max-width: 971px){
   
    
    header>a>img{
        width: 100px;
    }
    nav>a{
        color: #B6B6B6;
        margin-left: 5%;
        text-decoration: none;
        border-bottom: 3px solid white;
    }
    .apag-atual{
        font-weight: bold;
        color: #43B5F4;
    }  
    body{
        background: white;
    }
    section{
        width: 90%;
        flex-direction: column-reverse;
        align-items: center;
    }
    #bloco-texto-incio>h1{
        width: 600px;
        margin-top: 20px;
        font-family: 'Roboto';
        font-style: normal;
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
        font-weight: 700;
        color: #00A4FF;
    }
    #bloco-texto-incio>p{
        font-style: normal;
        width: 500px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 17px;
        color: #616161;
    }
    #bloco-texto-incio>a{
        font-style: normal;
        width: 300px;
        text-align: center;
        margin: 0 auto;
        background-color: #00A4FF;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 17px;
        color: #ffffff;
    }
    footer{
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
        color: grey;
    }
   
   
}

