@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500&display=swap');

#bloco-menu{
    width: 90%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

#links>a{
    font-family: Roboto;
    text-decoration: none;
    color: #B6B6B6;
    margin-left: 20px;
    border-bottom: 3px solid transparent;
}
#links>a:hover{
    font-weight: bold;
    color: #00A4FF;
    border-bottom: 3px solid #00A4FF;
}

.pagina-selecionada{
    font-weight: bold !important;
    color: #00A4FF !important;
    border-bottom: 3px solid #00A4FF !important;
}

@media only screen and (max-width: 729px) {
 
    #bloco-menu{
        width: 90%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto 0 auto;
    }
    #bloco-menu>a{
        margin-bottom: 10px;
    }
    #links{
        text-align: center;
    }
    #links>a{
        font-family: Roboto;
        text-decoration: none;
        color: #B6B6B6;
        margin:5px;
        border-bottom: 3px solid transparent;
    }
       
}