#menu-dash{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo-filtro{
    width: 90%;
    color: #575757;
    font-family: Roboto;
    margin: 10px auto;
    text-align: center;
}

#bloco-graficos{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

#chart1,#chart2,#chart3{
    width: 350px;
    height: 350px;
}